In [80]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as sf
import pyspark.sql.types as st
from datetime import date

spark = SparkSession.builder.getOrCreate()

daily_country_confirmed_cases = "./data/Daily_Country_Wise_Confirmed_Cases.csv"

daily_df = spark.read.csv(daily_country_confirmed_cases,inferSchema=True,header=True)

In [81]:
# Change to importing this function
def date_check():
    today = date.today()
    return str(today)

from datetime import datetime, timedelta

def date_minus_weeks(x:int) -> str:
    """
    Returns a timedelta STRING
    """
    return str(date.today() - timedelta(weeks = x))

In [82]:
# Showing the change of cases over a month
daily_df.select('Country',daily_df[-1]).where(daily_df[-1] >= 1).show()

+-------------+----------+
|      Country|2022-07-01|
+-------------+----------+
|United States|        64|
|      Germany|        85|
|        Italy|        33|
|  Switzerland|         8|
|      Austria|        17|
+-------------+----------+

In [44]:
# Shows the change over 1 week
daily_df.select('Country', daily_df[date_minus_weeks(2)],daily_df[date_minus_weeks(1)]).where(daily_df[date_minus_weeks(1)] > 10).show()

+-------------+----------+----------+
|      Country|2022-06-22|2022-06-29|
+-------------+----------+----------+
|     Portugal|        13|        18|
|United States|        14|        45|
|      Germany|        54|        35|
|       Canada|         0|        12|
|       Brazil|         2|        16|
+-------------+----------+----------+

In [43]:
daily_df.select(
    'Country',
    daily_df[date_minus_weeks(7)],
    daily_df[date_minus_weeks(6)],
    daily_df[date_minus_weeks(5)],
    daily_df[date_minus_weeks(4)],
    daily_df[date_minus_weeks(3)],
    daily_df[date_minus_weeks(2)],
    daily_df[date_minus_weeks(1)])\
        .show()

+--------------------+----------+----------+----------+----------+----------+----------+----------+
|             Country|2022-05-18|2022-05-25|2022-06-01|2022-06-08|2022-06-15|2022-06-22|2022-06-29|
+--------------------+----------+----------+----------+----------+----------+----------+----------+
|             England|         2|         7|         5|         0|         0|         0|         0|
|            Portugal|        11|        10|        19|        25|        10|        13|        18|
|               Spain|         7|         8|         0|        34|         0|         0|         0|
|       United States|         1|         2|         0|         5|        12|        14|        45|
|             Germany|         0|         1|         0|        13|        45|        54|        35|
|             Belgium|         0|         2|         5|         8|        27|         0|         0|
|              Sweden|         0|         1|         0|         0|         4|         0|         0|
|               Italy|         0|         4|         2|         2|        10|         0|         0|
|              Canada|         0|         0|        27|         1|         0|         0|        12|
|              France|         0|         2|        16|         0|         0|         0|         0|
|           Australia|         0|         0|         0|         0|         2|         0|         0|
|         Netherlands|         0|         6|         0|         0|         0|        72|         0|
|              Israel|         0|         0|         0|         0|         1|         2|         5|
|         Switzerland|         0|         0|         0|         2|         8|         5|         9|
|             Austria|         0|         0|         0|         0|         1|         0|         0|
|            Scotland|         0|         0|         1|         0|         0|         0|         0|
|             Denmark|         0|         0|         0|         0|         0|         1|         2|
|      Czech Republic|         0|         0|         0|         0|         0|         1|         0|
|United Arab Emirates|         0|         0|         4|         0|         0|         0|         0|
|            Slovenia|         0|         1|         0|         0|         0|         0|         0|
+--------------------+----------+----------+----------+----------+----------+----------+----------+
only showing top 20 rows

In [77]:
# Worldwide total, sum of all.
from functools import reduce

def column_add(a,b):
     return  a.__add__(b)
agg1_df = daily_df.drop('Country')

# def column_add(a:int,b:int):
#      if type(a) == int and type(b) == int:
#           return  a+b
#      else:
#           pass
agg1_df = agg1_df.withColumn('total', reduce(column_add, (agg1_df[col] for col in agg1_df.columns)))
agg1_df.groupBy().sum().show()

# daily_df.withColumn('totals', reduce(column_add, (daily_df[col] for col in daily_df.columns))).show()

# daily_df.drop(daily_df['Country']).withColumn('total_col', reduce(column_add, (daily_df[col] for col in daily_df.columns))).show()

+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+
|sum(2022-05-06)|sum(2022-05-12)|sum(2022-05-13)|sum(2022-05-15)|sum(2022-05-17)|sum(2022-05-18)|sum(2022-05-19)|sum(2022-05-20)|sum(2022-05-21)|sum(2022-05-23)|sum(2022-05-24)|sum(2022-05-25)|sum(2022-05-26)|sum(2022-05-27)|sum(2022-05-28)|sum(2022-05-29)|sum(2022-05-30)|sum(2022-05-31)|sum(2022-06-01)|sum(2022-06-02)|sum(2022-06-03)|sum(2022-06-04)|sum(2022-06-06)|sum(2022-06-07)|sum(2022-06-08)|sum(2022-06-09)|sum(2022-06-10)|sum(2022-06-11)|sum(2022-06-12)|sum(2022-06-13)|sum(2022-06-14)|sum(2022-06-15)|sum(2022-06-16)|sum(2022-06-17)|sum(2022-06-18)|sum(2022-06-19)|sum(2022-06-20)|sum(2022-06-21)|sum(2022-06-22)|sum(2022-06-23)|sum(2022-06-24)|sum(2022-06-25)|sum(2022-06-26)|sum(2022-06-27)|sum(2022-06-28)|sum(2022-06-29)|sum(2022-06-30)|sum(2022-07-01)|sum(total)|
+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+
|              1|              1|              1|              4|              3|             21|             16|             46|             16|             73|             34|             44|             88|             51|             16|             15|            123|             66|             83|            125|             94|              7|            114|            150|             97|            146|             42|              9|            107|             58|            243|            146|            371|            196|              1|              1|            290|            273|            167|            436|            329|              3|            168|            367|            366|            147|            816|            207|      6178|
+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+

In [ ]:
# Create dataframe for region totals weekly totals and sums

africa = ["Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", "Cape Verde", "Central African Republic",
    "Chad", "Comoros", "Cote d'Ivoire", "Democratic Republic of the Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea",
    "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi",
    "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Republic of the Congo", "Reunion",
    "Rwanda", "Saint Helena", "Sao Tome and Principe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", 
    "Sudan", "Swaziland", "Tanzania", "Togo", "Tunisia", "Uganda", "Western Sahara", "Zambia", "Zimbabwe"]

asia = ["Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan", "Brunei", "Burma", "Cambodia", "China", "Cyprus",
    "East Timor", "Georgia", "Hong Kong", "India", "Indonesia", "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait",
    "Kyrgyzstan", "Laos", "Lebanon", "Macau", "Malaysia", "Maldives", "Mongolia", "Nepal", "North Korea", "Oman", "Pakistan", "Philippines",
    "Qatar", "Saudi Arabia", "Singapore", "South Korea", "Sri Lanka", "Syria", "Taiwan", "Tajikistan", "Thailand", "Turkey", "Turkmenistan",
    "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"]

caribbean = ["Anguilla", "Antigua and Barbuda", "Aruba", "The Bahamas", "Barbados", "Bermuda", "British Virgin Islands", "Cayman Islands",
    "Cuba", "Dominica", "Dominican Republic", "Grenada", "Guadeloupe", "Haiti", "Jamaica", "Martinique", "Montserrat", "Netherlands Antilles",
    "Puerto Rico", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "Turks and Caicos Islands", "U.S. Virgin Islands"]

central_america = ["Belize", "Costa Rica", "El Salvador", "Guatemala", "Honduras", "Nicaragua", "Panama"]

europe = ["Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia", 
    "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Gibraltar", "Greece", "Holy See", "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia",
    "Liechtenstein", "Lithuania", "Luxembourg", "Macedonia", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "Norway", "Poland", "Portugal", "Romania", "Russia", 
    "San Marino", "Slovak Republic", "Slovenia", "Spain", "Serbia", "Serbia and Montenegro", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Northern Ireland", "Wales"]

north_america = ["Canada", "Greenland", "Mexico", "Saint Pierre and Miquelon", "United States"]

oceania = ["American Samoa", "Australia", "Christmas Island", "Cocos (Keeling) Islands", "Cook Islands", "Federated States of Micronesia", "Fiji", "French Polynesia", 
    "Guam", "Kiribati", "Marshall Islands", "Nauru", "New Caledonia", "New Zealand", "Niue", "Northern Mariana Islands", "Palau", "Papua New Guinea", "Pitcairn Islands",
    "Samoa", "Solomon Islands", "Tokelau", "Tonga", "Tuvalu", "Vanuatu", "Wallis and Futuna Islands"]

south_america = ["Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Falkland Islands", "French Guiana", "Guyana", "Paraguay", "Peru", "Suriname", "Uruguay",
    "Venezuela"]

In [ ]:
# Total daily average.

In [121]:
# import pandas as pd


# country_rows = daily_df.select('Country').collect()

# country_list = [row.Country for row in country_rows]


# # print(country_list)
# pandasdf = daily_df.toPandas()

# pandasdf.pivot(columns=country_list)

# spark_df = spark.createDataFrame(pandasdf)

# spark_df.columns

KeyError: "None of ['England', 'Portugal', 'Spain', 'United States', 'Germany', 'Belgium', 'Sweden', 'Italy', 'Canada', 'France', 'Australia', 'Netherlands', 'Israel', 'Switzerland', 'Austria', 'Scotland', 'Denmark', 'Czech Republic', 'United Arab Emirates', 'Slovenia', 'Wales', 'Northern Ireland', 'Argentina', 'Ireland', 'Finland', 'Malta', 'Mexico', 'Norway', 'Hungary', 'Gibraltar', 'Morocco', 'Latvia', 'Greece', 'Brazil', 'Ghana', 'Poland', 'Venezuela', 'Romania', 'Benin', 'Iceland', 'Georgia', 'Luxembourg', 'Chile', 'Serbia', 'Singapore', 'Lebanon', 'South Africa', 'South Korea', 'Colombia', 'Croatia', 'Bulgaria', 'Taiwan', 'Peru', 'Estonia', 'Puerto Rico', 'Turkey'] are in the columns"